<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TimesheetSuite">

  <!-- EMPLOYEE FLOW -->
  <test name="Employee Timesheet Flow">
    <classes>
      <class name="testcases.loginTest"/>
      <class name="testcases.timesheetTest"/>
      <class name="testcases.logoutTest"/>
    </classes>
  </test>

  <!-- MANAGER FLOW -->
  <test name="Manager Approval Flow">
    <classes>
      <class name="testcases.managerLoginTest"/>
      <class name="testcases.managerTimesheetApprovalTest"/>
      <class name="testcases.logoutTest"/>
    </classes>
  </test>

</suite>